<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @stock.enabled %>
</p>

<p>
  <strong>Product:</strong>
  <%= @stock.product_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
